table {
	margin: 0 0 1.5em;
	width: 100%;
}

table.code {
	empty-cells: show;

	th, td {
		font-family: $font__code;
		font-size: 12px;
		padding: 4px 32px 4px 0;
		line-height: 1.1rem;
	}

	th:last-child, td:last-child {
		padding-right: 0;
	}
}

table.center th,
table.center td {
	text-align: center;
}

.content-area table {
    empty-cells: show;
    font-size: 0.9em;
    width: 100%;
    margin-bottom: 1.1em;
}

.content-area table tbody > tr:nth-child(odd) > td { background: #f9f9f9; }

.content-area th,
.content-area td {
	padding: 2%;
	margin: 0;
	overflow: visible;
	line-height: 120%;
	border-bottom: 1px solid #DDD;
}

.content-area th { padding-top: 0; }

.content-area caption {
	color: #111;
	text-align: center;
	padding: 2%;
}

.content-area thead {
	vertical-align: bottom;
	white-space: nowrap;
}

.content-area th {
	font-weight: bold;
	color: #111;
}
