header.site-header {
	width: 100%;

	padding: 16px $side-padding;
	margin-bottom: 32px;
	border-bottom: $border-struct-style;
}

div#masthead {
	max-width: 1024px;
	display: flex;
	justify-content: space-between;

	div.site-branding {
		min-width: 360px;
		width: 100%;
	}

	.logo {
		width: 24px;
		height: 24px;
	}

	h3.site-title {
		display: inline-block;
		font-size: 32px;
		margin: 0px 0px 0px 4px;
		color: #111;

		a, a:visited {
			color: #111;
		}
	}

	h4.site-description {
		margin: 4px 0 0 0;
		font-size: 16px;
		font-style: italic;
		font-weight: 300;
		text-transform: lowercase;
		color: #AAA;
	}
}


.main-navigation {
	display: block;
	min-width: 240px;

	ul {
		display: block;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		display: inline-block;
		margin-right: 16px;
	}

	a {
		display: inline-block;
		text-decoration: none;
	}
}

