html {
    box-sizing: border-box;
    font-size: 18px;  /* Charter is smaller than normal */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
	background-color: #FAFAFA;
	color: #111111;
	font-family: 'Charter', Georgia, serif;
}

a, a:visited, label.margin-toggle {
	color: #005DAC;
	text-decoration: underline dotted;
}

a:hover, label.margin-toggle:hover {
	color: #FB4B34;
}

// this wraps each page main
.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    padding: 0 4%;
}

main {
    max-width: 46rem;
    width: 100%;
	margin: 0 auto;
}

article {
	//max-width: 38rem;
}

h1, h2, h3, b, strong {
    font-family: 'Charter-Bold', Georgia, serif;
}

em, i, cite {
	font-family: 'Charter-Italic', Georgia, serif;
}

pre, code {
	font-size: 16px;
	font-family: Hack, "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	color: #F30899;
}

pre {
	background-color: #FFFFFF;
	border: 1px solid #CCC;
	padding: 1.0rem;
}

h1 { font-size: 2.0rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.2rem; }
.subtitle {
	margin-top: -1.5rem;
	font-family: 'Charter-Italic', Georgia, serif;
	font-size: 1.2rem;
}

/* scale with width */
figure, img, video {
	display: block;
	max-width: 100%;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
}

figure.fullwidth {
	max-width: 100%;
}

figcaption {
	color: #666;
	font-size: 0.85rem;
}

/* little extra space */
p {
	margin: 1.5rem 0;
	max-width: 32rem;
}

blockquote {
	max-width: 70%;
	margin: 2.0rem 0;
	padding-left: 1.0rem;
	border-left: 0.5rem solid #CCCCCC;
	font-family: 'Charter-Italic', Georgia, serif;
}

blockquote footer {
	font-family: 'Charter';
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

table.code {
    empty-cells: show;

    th, td {
        font-family: $font_code;
        font-size: 0.85rem;
        padding: 4px 32px 4px 0;
        line-height: 1.1rem;
        border-bottom: 1px solid #CCCCCC;
        text-align: left;
    }

    th:last-child, td:last-child {
        padding-right: 0;
    }
}

table.center th,
table.center td {
    text-align: center;
}

.content-area table {
    empty-cells: show;
    font-size: 0.9em;
    width: 100%;
    margin-bottom: 1.1em;
}

