html {
box-sizing: border-box;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    background: $color_background;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

ul, ol {
    margin: 0 3em 1.5em 0em;
}

ul {
    list-style: square;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 0.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: $color_text-input;
    border: 1px solid $color_border-input;
    border-radius: 3px;

    &:focus {
        color: $color_text-input-focus;
    }
}

select {
    border: 1px solid $color_border-input;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
    padding: 3px;
}

textarea {
    padding-left: 3px;
    width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: $color_border-button;
    border-radius: 3px;
    background: $color_background-button;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, .8);
    font-size: 0.75rem;
    line-height: 1;
    padding: .6em 1em .4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

    &:hover {
        border-color: $color_border-button-hover;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
    }

    &:active,
    &:focus {
        border-color: $color_border-button-focus;
        box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
    }
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

hr {
    background-color: $color_background-hr;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}
table {
    margin: 0 0 1.5em;
    width: 100%;
}

table.code {
    empty-cells: show;

    th, td {
        font-family: $font_code;
        font-size: $font_code_size;
        padding: 4px 32px 4px 0;
        line-height: 1.1rem;
    }

    th:last-child, td:last-child {
        padding-right: 0;
    }
}

table.center th,
table.center td {
    text-align: center;
}

.content-area table {
    empty-cells: show;
    font-size: 0.9em;
    width: 100%;
    margin-bottom: 1.1em;
}

.content-area table tbody > tr:nth-child(odd) > td { background: #f9f9f9; }

.content-area th,
.content-area td {
    padding: 2%;
    margin: 0;
    overflow: visible;
    line-height: 120%;
    border-bottom: 1px solid #DDD;
}

.content-area th { padding-top: 0; }

.content-area caption {
    color: #111;
    text-align: center;
    padding: 2%;
}

.content-area thead {
    vertical-align: bottom;
    white-space: nowrap;
}

.content-area th {
    font-weight: bold;
    color: #111;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

    .content-area & {
        margin: 0 0 1.5em;
        overflow: hidden;
    }

    .nav-previous {
        float: left;
        width: 50%;
    }

    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
    display: none;
}

.infinity-end.neverending .site-footer {
    display: block;
}

body,
button,
input,
select,
textarea {
    color: $color_text-main;
    font-family: $font_main;
    font-size: $font_main_size;
    line-height: $font_line-height-body;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-family: $font_headers;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

h1 { font-size: 2.0rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.15rem; }
h6 { font-size: 1.00rem; }

p {
    margin-bottom: 1.5em;
}

dfn, cite, em, i {
    font-style: italic;
}

address {
    margin: 0 0 1.5em;
}

pre {
    border: 1px solid #E2E4E7;
    border-radius: 4px;
    background-color: none;
    color: $font_code_color;
    font-family: $font_code;
    font-size: $font_code_size;
    line-height: $font_code_line-height;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 0.8em 1.6em;
}

code, kbd, tt, var {
    color: $font_code_color;
    font-family: $font_code;
    font-size: $font_code_size;
}

abbr, acronym {
    border-bottom: 1px dotted $color_border-abbr;
    cursor: help;
}

mark, ins {
    background: $color_background-ins;
    text-decoration: none;
}

big {
    font-size: 125%;
}

blockquote, q {
    margin: 0 1.5em;
    quotes: "" "";

    &:before,
    &:after {
        content: "";
    }
}

a {
    color: $color_link;
    text-decoration: none;

    &:visited {
        color: $color_link-visited;
    }
    &:hover,
    &:focus,
    &:active {
        color: $color_link-hover;
    }
    &:focus {
        outline: thin dotted;
    }
    &:hover,
    &:active {
        outline: 0;
    }
}

.entry-content a {
    text-decoration: underline dotted #999;
}

.entry-content a:visited {
    text-decoration: none;
}

img {
    height: auto;
    max-width: 100%;
}

embed,
iframe,
object {
    max-width: 100%;
}

.wp-caption {
    margin: 1em 0 1.5em;
    max-width: 100%;

    img[class*="wp-image-"] {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .wp-caption-text {
        margin: 0.8075em 0;
    }
}

.wp-caption.aligncenter {
        margin-left: auto;
        margin-right: auto;
}

.wp-caption.alignleft {
        margin-right: 20px;
}

.wp-caption.alignright {
        margin-left: 20px;
}

.wp-caption-text {
    text-align: center;
}

.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;

    .gallery-columns-2 & {
        max-width: 50%;
    }

    .gallery-columns-3 & {
        max-width: 33.33%;
    }

    .gallery-columns-4 & {
        max-width: 25%;
    }

    .gallery-columns-5 & {
        max-width: 20%;
    }

    .gallery-columns-6 & {
        max-width: 16.66%;
    }

    .gallery-columns-7 & {
        max-width: 14.28%;
    }

    .gallery-columns-8 & {
        max-width: 12.5%;
    }

    .gallery-columns-9 & {
        max-width: 11.11%;
    }
}

.gallery-caption {
    display: block;
}

.img-size-med {
    max-width: 480px;
}

img.wp-smiley, img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
