html {
  box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

div#masthead {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

main {
  max-width: 720px;
  margin: 0 auto;
  width: 100%;
}

/*--------------------------------------------------------------
## Content Sidebar
--------------------------------------------------------------*/

.content-area {
  max-width: 100%;
}

.widget-area {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  min-width: 160px;
  display: flex;
  flex-wrap: wrap;
}

section.widget {
  width: 320px;
  margin-right: 32px;
  padding-right: 32px;
}

/*--------------------------------------------------------------
## Single Column / No Active Sidebar
--------------------------------------------------------------*/
.no-sidebar .site-main {
  margin: 0;
}

.no-sidebar .content-area {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/

article {
  max-width: 720px;
  width: 100%;
}

.sticky {
  display: block;
}

.hentry {
  margin: 0 auto;
}

.byline,
.updated:not(.published){
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.entry-header {
  margin-bottom: 8px;
}

.entry-meta {
  font-size: 0.9rem;
}


/*--------------------------------------------------------------
## Pages
--------------------------------------------------------------*/
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.site-footer {
  margin-top: 64px;
  padding: 8px 0;
  background-color: #EBDBB2;
}
.site-info {
  font-size: 13px;
  padding: 4px 16px;
}
