
// homepage and list views
.post-index {

    width: 100%;

    h4 {
        margin-bottom: 0.25rem;
    }

    article {
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid $grey6;
    }

    article:last-child {
        border-bottom: none;
    }

    ul {
        margin-top: 0;
        padding-left: 0;
        list-style: none;
    }

    li.hentry {
        margin-bottom: 0.5rem;
        vertical-align: top;
    }

    .entry-title {
        display: inline-block;
        width: 320px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: top;
    }

    time {
        display: inline-block;
        margin-left: 1.0rem;
        vertical-align: baseline;
    }
}

