// homepage

.home-sections {

    display:flex;
    flex-wrap: wrap;

    section {

        max-width: 360px;
        margin: 36px;

        header {
            padding: 32px;
            color:white;

            h2 {
                margin: 0;
            }

            &.cli {
                background-color:#282828;
                background-image:url("assets/circuit-board.svg");
            }

            &.wp {
                background-color: #0073AA;
                background-image:url("assets/random-shapes.svg");
            }

            &.dataviz {
                background-color: #F012BE;
                background-image:url("assets/graph-paper.svg");
            }

            &.python {
                background-color: #3ba99c;
                //background-image:url("assets/graph-paper.svg");
            }

        }
    }

    .content {
        margin:16px 8px;

        ul {
            margin-top: 16px;
        }
    }
}

// all other list like pages
.post-list {

    max-width: 720px;
    width: 100%;

    article {
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid $grey6;
    }

    article:last-child {
        border-bottom: none;
    }

    p {
        margin: 0.5rem 0;
        font-size: 1.0rem;
    }

    .entry-footer {
        font-size: 1.0rem;
    }
}
