// homepage

.full-page {

    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

    section {

        max-width: 360px;
        margin: 36px;

        &.author-block {
            max-width: 640px;
            width: 100%;
        }

        header {
            border-radius: 8px;
            padding: 32px;
            color:white;

            h2 {
                margin: 0;
            }

            &.cli {
                background-color:#282828;
                background-image:url("assets/circuit-board.svg");
            }

            &.wp {
                background-color: #0073AA;
                background-image:url("assets/random-shapes.svg");
            }

            &.dataviz {
                background-color: #F012BE;
                background-image:url("assets/graph-paper.svg");
            }

            &.python {
                background-color: #3ba99c;
                //background-image:url("assets/graph-paper.svg");
            }

        }
    }

    .content {

        margin:16px 8px;

        p { margin-bottom: 1.0rem; }

        ul {
            white-space: nowrap;
            overflow: ellipsis;
        }
    }
}

// all other list like pages
.post-index {

    max-width: 720px;
    width: 100%;

    article {
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid $grey6;
    }

    article:last-child {
        border-bottom: none;
    }

    li.hentry {
        margin-bottom: 0.5rem;
        vertical-align: top;
    }

    .entry-title {
        display: inline-block;
        width: 320px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: top;
    }

    time {
        vertical-align: baseline;
    }
}
