


/* Sidenotes style for front-end */

p .sidenote {
    margin-right: -15rem;
}

.sidenote {
    display: inline-block;
    float: right;
    clear: right;
    margin: 0;
    font-family: $font-serif;
    font-size: 0.875rem;
    line-height: 1.125;
    vertical-align: baseline;
    position: relative;

    max-width: 11rem;
    width: 100%;
}

.sidenote code {
    font-size: 0.875rem;
}

@media (max-width: 64rem) {
    .sidenote { display: none; }
}
