
$grey0: #212529;
$grey1: #353A3F;
$grey2: #4A5056;
$grey3: #878E95;
$grey4: #AEB5BC;
$grey5: #D0D4D9;
$grey6: #DFE2E5;
$grey7: #E9ECEE;
$grey8: #F1F3F5;
$grey9: #F8F9FA;

$accent5: #FF9283;
$accent4: #FF6D5A;
$accent3: #FB4B34;
$accent2: #E1230A;
$accent1: #AF1501;

$yellow1: #C1AC1B;
$yellow2: #E5D03D;
$yellow3: #FFEC64;
$yellow4: #FFF088;
$yellow5: #FFF6B3;


$color_background-hr: $grey5;
$color_background-button: $grey7;

$color_text-input: #666;
$color_text-input-focus: #111;

$color_link: #005DAC;
$color_link-visited:#005DAC;

$color_border-button: #ccc #ccc #bbb;
$color_border-button-hover: #ccc #bbb #aaa;
$color_border-button-focus: #aaa #bbb #bbb;
$color_border-input: #ccc;
$color_border-abbr: #666;

$header-text-color: #FE8019;

$color_footer_background: #444444;
$color_footer_text: #FFFFFF;
$color_footer_link: #FABD2F;

// Typefaces
$font_main: "Charter", Georgia, serif;
$font_main_size: 20px;
$font_line-height-body: 1.5;

$font_headers: "Charter-Bold", Georgia, serif;
$font_system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

$font_code: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
$font_code_size: 13px;
$font_code_color: #282838;
$font_code_line-height: 1.6;

$border-struct-style: 1px solid #ccc;
