.widgets {
    width: 100%;
    background-color: $grey1;
    color: #FFF;
    margin-top: 64px;
}

.widget-area {
    max-width: 860px;
    min-width: 200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a, a:visited {
        color: $color_footer_link;
    }

    a:hover {
        color: $accent3;
    }
}

.search-bar {
    width: 100%;
    background-color: $grey2;
}

.search-form {
    max-width: 860px;
    margin: 0 auto;
    padding: 16px 4%;
}

input.search-field {
    max-width: 320px;
    width: 100%;
}

.widget {
    max-width: 340px;
    margin: 24px 0;
    padding-bottom: 24px;

    select {
      max-width: 100%;
    }

    h2.widget-title {
      font-size: 18px;
      margin-bottom: 8px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: square;
      list-style-position: inside;
    }

    li {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
}

section.jetpack-social-menu {
    margin-top: 16px;
    max-width: 140px;

    h2.widget-title {
        margin-bottom: 16px;
    }
}

.jetpack-social-navigation-genericons a::before {
    font-size: 32px !important;
    width: 2em;
    height: 2em;
    margin: 0 32px 32px 0;
}

.jetpack-social-navigation-genericons a[href*="mkaz.com"]::before {
    content: "\f205";
}
