
/* Gutenberg editor style */
@import "variables";

body {
	color: #111111;
	font-family: 'Charter', Georgia, serif;
	font-size: 18px;
	line-height: 1.5;
}

p {
	font-size: 18px;
    max-width: 32rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Charter-Bold', Georgia, serif;
}

h1 { font-size: 2.0rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.15rem; }
h6 { font-size: 1.00rem; }


.editor-post-title__block .editor-post-title__input {
	font-family: 'Charter-Bold', Georgia, serif;
	font-size: 2.0rem;
}


.editor-rich-text__tinymce code,
.code {
	font-family: $font_code;
	font-size: $font_code_size;
	color: $font_code_color;
	background-color: none;
}

.alignleft,
.alignright {
    max-width: 20rem;
}
